# Default ignored files
/shelf/
/workspace.xml

# Ignoring IDE-specific files
.idea/               # Ignore IDE-specific configuration files (e.g., for IntelliJ IDEA)

/node_modules/       # Ignore Node.js dependencies